<header class="bg-gradient-to-r from-blue-500 to-indigo-500 text-white p-6 shadow-lg">
  <div class="container mx-auto flex flex-col sm:flex-row items-center justify-between space-y-4 sm:space-y-0">
    <h1 class="text-4xl font-bold">
      Projet Memory 🚀
    </h1>
    <nav class="w-full sm:w-auto flex justify-center sm:justify-start space-x-8 text-lg">
      <a
        routerLink="/home"
        class="py-2 px-4 rounded-md bg-blue-600 hover:bg-blue-700 text-white font-medium transition-all duration-300 ease-in-out transform hover:scale-105"
      >
        Home
      </a>
      <a
        routerLink="/edit"
        class="py-2 px-4 rounded-md bg-blue-600 hover:bg-blue-700 text-white font-medium transition-all duration-300 ease-in-out transform hover:scale-105"
      >
        Edit
      </a>
      <a
        routerLink="/import"
        class="py-2 px-4 rounded-md bg-blue-600 hover:bg-blue-700 text-white font-medium transition-all duration-300 ease-in-out transform hover:scale-105"
      >
        Import
      </a>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
